<!-- sf-component: faq sf-node: pmycsbwlxr7o -->
<div class="fl-row fl-row-full-width fl-row-bg-photo fl-node-hi7xf5noljyr fl-row-default-height fl-row-align-center fl-row-bg-fixed" data-node="hi7xf5noljyr">
	<div class="fl-row-content-wrap">
		<div class="uabb-row-separator uabb-top-row-separator">
</div>
						<div class="fl-row-content fl-row-fixed-width fl-node-content">
		
<div class="fl-col-group fl-node-pmycsbwlxr7o" data-node="pmycsbwlxr7o">
			<div class="fl-col fl-node-41ohd0wb9zmf fl-col-bg-color" data-node="41ohd0wb9zmf">
	<div class="fl-col-content fl-node-content"><div class="fl-module fl-module-heading fl-node-br68nextzkqm" data-node="br68nextzkqm">
	<div class="fl-module-content fl-node-content">
		<h3 class="fl-heading">
			<span class="fl-heading-text">Other Frequently Asked Questions</span>
	</h3>
	</div>
</div>
<div class="fl-module fl-module-pp-faq fl-node-0wfi24ym6h8n" data-node="0wfi24ym6h8n">
	<div class="fl-module-content fl-node-content">
		
<div class="pp-faq pp-faq-collapse">
			<div id="pp-faq-0wfi24ym6h8n-1" class="pp-faq-item">
			<div id="pp-faq-0wfi24ym6h8n-tab-0" class="pp-faq-button" aria-controls="pp-faq-0wfi24ym6h8n-panel-0" tabindex="0" role="button">
									<span class="pp-faq-button-icon pp-faq-open ua-icon ua-icon-circle-add pp-faq-icon-left" aria-hidden="true"></span>
					<span class="pp-faq-button-icon pp-faq-close ua-icon ua-icon-circle-minus pp-faq-icon-left" aria-hidden="true"></span>
				
				<span class="pp-faq-button-label">Why are you so much more expensive than Squarespace/Wix ?</span>

							</div>
			<div class="pp-faq-content fl-clearfix" id="pp-faq-0wfi24ym6h8n-panel-0" aria-labelledby="pp-faq-0wfi24ym6h8n-tab-0" aria-hidden="true" aria-live="polite">
				<div class="pp-faq-content-text">
					<p>Platforms like Squarespace and Wix allow you to pick a template and fill in your own content. While the templates look good as a demo, a lot of people struggle to write good copy (words) and find good images for their business, and in the end it's not really a great website.&nbsp;</p>
<p>At Siteflyer we:</p>
<ul>
<li><strong>Write custom copy for you.</strong> This is the hardest (and most expensive) part of a good website. We use professional copywriters to make sure your website is clear, compelling, and professional.</li>
<li><strong>We personalize the design of your site.&nbsp;</strong>We have certain layouts that we tend to reuse for certain sites, but the we make the design fit your business and brand, so it looks unique and sharp.&nbsp;</li>
<li><strong>We provide actual support.&nbsp;</strong>Big corporations like Squarespace and Wix tend to hide the support buttons and make it difficult to get in touch with a real person. We're a smaller company and give our clients the attention they deserve.&nbsp;</li>
</ul>
				</div>
			</div>
		</div>
			<div id="pp-faq-0wfi24ym6h8n-2" class="pp-faq-item">
			<div id="pp-faq-0wfi24ym6h8n-tab-1" class="pp-faq-button" aria-controls="pp-faq-0wfi24ym6h8n-panel-1" tabindex="0" role="button">
									<span class="pp-faq-button-icon pp-faq-open ua-icon ua-icon-circle-add pp-faq-icon-left" aria-hidden="true"></span>
					<span class="pp-faq-button-icon pp-faq-close ua-icon ua-icon-circle-minus pp-faq-icon-left" aria-hidden="true"></span>
				
				<span class="pp-faq-button-label">Why are you so much cheaper than a typical web design agency?</span>

							</div>
			<div class="pp-faq-content fl-clearfix" id="pp-faq-0wfi24ym6h8n-panel-1" aria-labelledby="pp-faq-0wfi24ym6h8n-tab-1" aria-hidden="true" aria-live="polite">
				<div class="pp-faq-content-text">
					<p>Well first, a lot of folks don't really know what website agencies charge because they don't put any pricing on their own websites. In most cases you have to talk to a sales person and get a custom proposal before you know what it will cost.</p>
<p>The short answer is that a custom website (like the ones Siteflyer makes) is going to cost between $8,000-$25,000 if you go through an agency (not including ongoing hosting/support).&nbsp;</p>
<p>We know this because we used to sell websites this way.&nbsp;</p>
<p>But at Siteflyer we don't charge the big fee up front, we make a profit by keeping our clients happy over the long term. The truth is, our process is not much different from when we sold project-based websites, we're just confident enough in our customer service to be able to offer them in a way that is easier for small businesses to cash-flow the expense.&nbsp;</p>
				</div>
			</div>
		</div>
			<div id="pp-faq-0wfi24ym6h8n-3" class="pp-faq-item">
			<div id="pp-faq-0wfi24ym6h8n-tab-2" class="pp-faq-button" aria-controls="pp-faq-0wfi24ym6h8n-panel-2" tabindex="0" role="button">
									<span class="pp-faq-button-icon pp-faq-open ua-icon ua-icon-circle-add pp-faq-icon-left" aria-hidden="true"></span>
					<span class="pp-faq-button-icon pp-faq-close ua-icon ua-icon-circle-minus pp-faq-icon-left" aria-hidden="true"></span>
				
				<span class="pp-faq-button-label">Do your packages include SEO?</span>

							</div>
			<div class="pp-faq-content fl-clearfix" id="pp-faq-0wfi24ym6h8n-panel-2" aria-labelledby="pp-faq-0wfi24ym6h8n-tab-2" aria-hidden="true" aria-live="polite">
				<div class="pp-faq-content-text">
					<p>SEO is a dynamic and ever changing field, and in order to compete in search results for most industries, it requires an ongoing SEO campaign.</p>
<p>We include basic, on-page SEO (title tags, meta descriptions, image alt tags) for all of the pages that we build, but ongoing SEO is not included in your hosting/support package.&nbsp;</p>
<p>We can give you or an outside SEO agency access to your site to be able to add SEO content as needed, or you can add our Local SEO package to your subscription.</p>
				</div>
			</div>
		</div>
			<div id="pp-faq-0wfi24ym6h8n-4" class="pp-faq-item">
			<div id="pp-faq-0wfi24ym6h8n-tab-3" class="pp-faq-button" aria-controls="pp-faq-0wfi24ym6h8n-panel-3" tabindex="0" role="button">
									<span class="pp-faq-button-icon pp-faq-open ua-icon ua-icon-circle-add pp-faq-icon-left" aria-hidden="true"></span>
					<span class="pp-faq-button-icon pp-faq-close ua-icon ua-icon-circle-minus pp-faq-icon-left" aria-hidden="true"></span>
				
				<span class="pp-faq-button-label">Are your websites ADA compliant?</span>

							</div>
			<div class="pp-faq-content fl-clearfix" id="pp-faq-0wfi24ym6h8n-panel-3" aria-labelledby="pp-faq-0wfi24ym6h8n-tab-3" aria-hidden="true" aria-live="polite">
				<div class="pp-faq-content-text">
					<p>We try to stay up to date with ADA compliance requirements for websites, and do our best to incorporate best practices in the way we build all sites.&nbsp;</p>
<p>If ADA compliance is a legal concern for your business, you can add our ADA Compliance Optimization add-on to your subscription. We will install a plugin that adds a widget in the bottom corner of your site for greater accessibility options.</p>
				</div>
			</div>
		</div>
			<div id="pp-faq-0wfi24ym6h8n-5" class="pp-faq-item">
			<div id="pp-faq-0wfi24ym6h8n-tab-4" class="pp-faq-button" aria-controls="pp-faq-0wfi24ym6h8n-panel-4" tabindex="0" role="button">
									<span class="pp-faq-button-icon pp-faq-open ua-icon ua-icon-circle-add pp-faq-icon-left" aria-hidden="true"></span>
					<span class="pp-faq-button-icon pp-faq-close ua-icon ua-icon-circle-minus pp-faq-icon-left" aria-hidden="true"></span>
				
				<span class="pp-faq-button-label">Can I start with a smaller site and upgrade in the future?</span>

							</div>
			<div class="pp-faq-content fl-clearfix" id="pp-faq-0wfi24ym6h8n-panel-4" aria-labelledby="pp-faq-0wfi24ym6h8n-tab-4" aria-hidden="true" aria-live="polite">
				<div class="pp-faq-content-text">
					<p>Yep.&nbsp;</p>
<p>Upgrade at any time and we'll work with you to write and build out the additional pages.</p>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
</div>
</div>
	</div></div></div></div>