<!-- sf-component: features-optional sf-node: kev4tz5gd3jr -->
<div class="fl-row fl-row-full-width fl-row-bg-photo fl-node-hi7xf5noljyr fl-row-default-height fl-row-align-center fl-row-bg-fixed" data-node="hi7xf5noljyr">
	<div class="fl-row-content-wrap">
		<div class="uabb-row-separator uabb-top-row-separator">
</div>
						<div class="fl-row-content fl-row-fixed-width fl-node-content">
		
<div class="fl-col-group fl-node-kev4tz5gd3jr fl-col-group-nested fl-col-group-equal-height fl-col-group-align-top" data-node="kev4tz5gd3jr">
			<div class="fl-col fl-node-jmsxt7khae3b fl-col-bg-color fl-col-small" data-node="jmsxt7khae3b">
	<div class="fl-col-content fl-node-content"><div class="fl-module fl-module-info-box fl-node-ago6fy2pvqwd col-pricing-top" data-node="ago6fy2pvqwd">
	<div class="fl-module-content fl-node-content">
		<div class="uabb-module-content uabb-infobox infobox-left ">
	<div class="uabb-infobox-left-right-wrap">
	<div class="uabb-infobox-content">
			<div class="uabb-infobox-title-wrap"><h4 class="uabb-infobox-title-prefix">Always Included</h4><h3 class="uabb-infobox-title">Features &amp; Benefits</h3></div>		</div>	</div>
</div>
	</div>
</div>
<div class="fl-module fl-module-pp-iconlist fl-node-w4anyuip5f8m text" data-node="w4anyuip5f8m">
	<div class="fl-module-content fl-node-content">
		
<div class="pp-icon-list pp-user-agent-chrome">
	<ul class="pp-icon-list-items pp-list-type-icon">
	
			<li class="pp-icon-list-item pp-icon-list-item-0">
				<span class="pp-list-item-icon ua-icon ua-icon-circle-check"></span>
				<span class="pp-list-item-text">Personalized design to match your brand</span>
			</li>

		
			<li class="pp-icon-list-item pp-icon-list-item-1">
				<span class="pp-list-item-icon ua-icon ua-icon-circle-check"></span>
				<span class="pp-list-item-text">Custom messaging &amp; copywriting by pros</span>
			</li>

		
			<li class="pp-icon-list-item pp-icon-list-item-2">
				<span class="pp-list-item-icon ua-icon ua-icon-circle-check"></span>
				<span class="pp-list-item-text">Mobile optimization &amp; basic on-page SEO</span>
			</li>

		
			<li class="pp-icon-list-item pp-icon-list-item-3">
				<span class="pp-list-item-icon ua-icon ua-icon-circle-check"></span>
				<span class="pp-list-item-text">A-grade sitespeed guarantee</span>
			</li>

		
			<li class="pp-icon-list-item pp-icon-list-item-4">
				<span class="pp-list-item-icon ua-icon ua-icon-circle-check"></span>
				<span class="pp-list-item-text">Emergency website uptime response</span>
			</li>

		
			<li class="pp-icon-list-item pp-icon-list-item-5">
				<span class="pp-list-item-icon ua-icon ua-icon-circle-check"></span>
				<span class="pp-list-item-text">Unlimited content updates</span>
			</li>

		
		</ul>
</div>
	</div>
</div>
</div>
</div>
			<div class="fl-col fl-node-ui1a8cn0oqhj fl-col-bg-color fl-col-small" data-node="ui1a8cn0oqhj">
	<div class="fl-col-content fl-node-content"><div class="fl-module fl-module-info-box fl-node-hurey4a3v7wl col-pricing-top" data-node="hurey4a3v7wl">
	<div class="fl-module-content fl-node-content">
		<div class="uabb-module-content uabb-infobox infobox-left ">
	<div class="uabb-infobox-left-right-wrap">
	<div class="uabb-infobox-content">
			<div class="uabb-infobox-title-wrap"><h4 class="uabb-infobox-title-prefix">Optional</h4><h3 class="uabb-infobox-title">Add-ons &amp; Service</h3></div>		</div>	</div>
</div>
	</div>
</div>
<div class="fl-module fl-module-pp-iconlist fl-node-0e4lf1kdt37c text" data-node="0e4lf1kdt37c">
	<div class="fl-module-content fl-node-content">
		
<div class="pp-icon-list pp-user-agent-chrome">
	<ul class="pp-icon-list-items pp-list-type-icon">
	
			<li class="pp-icon-list-item pp-icon-list-item-0">
				<span class="pp-list-item-icon ua-icon ua-icon-circle-check"></span>
				<span class="pp-list-item-text">Local SEO Campaign - $800/m</span>
			</li>

		
			<li class="pp-icon-list-item pp-icon-list-item-1">
				<span class="pp-list-item-icon ua-icon ua-icon-circle-check"></span>
				<span class="pp-list-item-text">Google Ads Management - $800/m</span>
			</li>

		
			<li class="pp-icon-list-item pp-icon-list-item-2">
				<span class="pp-list-item-icon ua-icon ua-icon-circle-check"></span>
				<span class="pp-list-item-text">ADA Compliance Optimization - $100/m *</span>
			</li>

		
			<li class="pp-icon-list-item pp-icon-list-item-3">
				<span class="pp-list-item-icon ua-icon ua-icon-circle-check"></span>
				<span class="pp-list-item-text">Monthly Analytics Reporting - $50/m</span>
			</li>

		
			<li class="pp-icon-list-item pp-icon-list-item-4">
				<span class="pp-list-item-icon ua-icon ua-icon-circle-check"></span>
				<span class="pp-list-item-text">Privacy, Terms, Cookie policy integration - $5/m</span>
			</li>

		
		</ul>
</div>
	</div>
</div>
<div class="fl-module fl-module-separator fl-node-a56eckzs10tg" data-node="a56eckzs10tg" role="separator" aria-label="Separator">
	<div class="fl-module-content fl-node-content">
		<div class="fl-separator"></div>
	</div>
</div>
<div class="fl-module fl-module-rich-text fl-node-ubskjmvoct8q" data-node="ubskjmvoct8q">
	<div class="fl-module-content fl-node-content">
		<div class="fl-rich-text">
	<p><strong>Not sure what you need?</strong><br>
Don't worry, you can add any of these to your subscription later if you need them.</p>
</div>
	</div>
</div>
</div>
</div>
	</div></div></div></div>