<!-- sf-component: fine-print sf-node: glr7tmepihof -->
<div class="fl-row fl-row-full-width fl-row-bg-photo fl-node-hi7xf5noljyr fl-row-default-height fl-row-align-center fl-row-bg-fixed" data-node="hi7xf5noljyr">
	<div class="fl-row-content-wrap">
		<div class="uabb-row-separator uabb-top-row-separator">
</div>
						<div class="fl-row-content fl-row-fixed-width fl-node-content">
		
<div class="fl-col-group fl-node-glr7tmepihof" data-node="glr7tmepihof">
			<div class="fl-col fl-node-jr0aev97lb5t fl-col-bg-color" data-node="jr0aev97lb5t">
	<div class="fl-col-content fl-node-content"><div id="fine-print" class="fl-module fl-module-heading fl-node-xz73qvc8rump" data-node="xz73qvc8rump">
	<div class="fl-module-content fl-node-content">
		<h3 class="fl-heading">
			<span class="fl-heading-text"><span class="alt-heading">The (Not So) Fine Print</span></span>
	</h3>
	</div>
</div>
<div class="fl-module fl-module-rich-text fl-node-0mgdxcp3951k" data-node="0mgdxcp3951k">
	<div class="fl-module-content fl-node-content">
		<div class="fl-rich-text">
	<p>We are committed to being fully transparent about our pricing and our process. These are important details we want you to know before starting to work with us.</p>
</div>
	</div>
</div>
<div class="fl-module fl-module-list fl-node-9n4jl7k3xhwa" data-node="9n4jl7k3xhwa">
	<div class="fl-module-content fl-node-content">
		<div class="fl-list fl-list-regular" role="list">	<div role="listitem" class="fl-list-item fl-list-item-0">
		<div class="fl-list-item-wrapper">
			<h3 class="fl-list-item-heading"><span class="fl-list-item-heading-icon fl-list-item-heading-left"><i class="fl-list-item-icon ua-icon ua-icon-arrow-right" aria-hidden="true"></i></span> <span class="fl-list-item-heading-text">Strategy &amp; Set-Up Fee</span></h3><div class="fl-list-item-content"> <div class="fl-list-item-content-text"><p>All website packages include a $1,750 setup fee, covering initial development and planning costs. This ensures we can deliver the high-quality work your project deserves.</p></div></div>		</div>
	</div>
		<div role="listitem" class="fl-list-item fl-list-item-1">
		<div class="fl-list-item-wrapper">
			<h3 class="fl-list-item-heading"><span class="fl-list-item-heading-icon fl-list-item-heading-left"><i class="fl-list-item-icon ua-icon ua-icon-arrow-right" aria-hidden="true"></i></span> <span class="fl-list-item-heading-text">Production Schedule</span></h3><div class="fl-list-item-content"> <div class="fl-list-item-content-text"><p>To maintain quality and stay on schedule, we limit the number of projects we take on each month. Once you reserve your spot, you'll pay the setup fee and schedule two key dates:</p><ol><li><strong>Intro Call</strong> – Meet your project manager.</li><li><strong>Kickoff Date</strong> – Start your project.</li></ol><p>Most websites take about 3 months from kickoff to launch. Your first subscription fee will be charged on your kickoff date.</p></div></div>		</div>
	</div>
		<div role="listitem" class="fl-list-item fl-list-item-2">
		<div class="fl-list-item-wrapper">
			<h3 class="fl-list-item-heading"><span class="fl-list-item-heading-icon fl-list-item-heading-left"><i class="fl-list-item-icon ua-icon ua-icon-arrow-right" aria-hidden="true"></i></span> <span class="fl-list-item-heading-text">Contract Length</span></h3><div class="fl-list-item-content"> <div class="fl-list-item-content-text"><p>All website packages require a 24-month minimum subscription. You can cancel anytime and walk away. If you'd like to keep your website before 24 months, simply buy out the remaining contract. After 24 months, you can cancel and take your site with no extra fees. (We’re confident you’ll love our service and never want to leave!)</p></div></div>		</div>
	</div>
		<div role="listitem" class="fl-list-item fl-list-item-3">
		<div class="fl-list-item-wrapper">
			<h3 class="fl-list-item-heading"><span class="fl-list-item-heading-icon fl-list-item-heading-left"><i class="fl-list-item-icon ua-icon ua-icon-arrow-right" aria-hidden="true"></i></span> <span class="fl-list-item-heading-text">Upgrades &amp; Add-ons</span></h3><div class="fl-list-item-content"> <div class="fl-list-item-content-text"><p>Enhance your website anytime with upgrades or marketing campaigns like local SEO or Google Ads. Allow at least one month for setup before new campaigns launch or pages are added to your site.</p></div></div>		</div>
	</div>
	</div>	</div>
</div>
</div>
</div>
	</div></div></div></div>