<!-- sf-component: heading-pair sf-node: 0wz6tfbjiqg7 -->
<div class="fl-row fl-row-full-width fl-row-bg-none fl-node-0wz6tfbjiqg7 fl-row-default-height fl-row-align-center" data-node="0wz6tfbjiqg7">
	<div class="fl-row-content-wrap">
		<div class="uabb-row-separator uabb-top-row-separator">
</div>
						<div class="fl-row-content fl-row-fixed-width fl-node-content">
		
<div class="fl-col-group fl-node-f5av768wxsd9" data-node="f5av768wxsd9">
			<div class="fl-col fl-node-gzqt7i1b0dac fl-col-bg-color" data-node="gzqt7i1b0dac">
	<div class="fl-col-content fl-node-content"><div class="fl-module fl-module-heading fl-node-gamzficuwj96" data-node="gamzficuwj96">
	<div class="fl-module-content fl-node-content">
		<h1 class="fl-heading">
			<span class="fl-heading-text">Pricing &amp; Packages</span>
	</h1>
	</div>
</div>
<div class="fl-module fl-module-heading fl-node-tj6pwqn91hcm" data-node="tj6pwqn91hcm">
	<div class="fl-module-content fl-node-content">
		<h3 class="fl-heading">
			<span class="fl-heading-text"><span class="alt-heading">Siteflyer is made for small businesses.</span></span>
	</h3>
	</div>
</div>
<div class="fl-module fl-module-rich-text fl-node-3h9aijeqgvls" data-node="3h9aijeqgvls">
	<div class="fl-module-content fl-node-content">
		<div class="fl-rich-text">
	<p>Why drop 5-figures with an typical web design agency, when you could get an agency-grade website for a low monthly subscription?</p>
</div>
	</div>
</div>
</div>
</div>
	</div>
		</div>
	</div>
</div>